{% extends "base.html" %}

{% block title %}
	anoncafe - proxy
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="css/proxy.css" media="screen" />
{% endblock %}

{% block content %}
	<script type="text/javascript">
		// Resize iframe to full height
  		function resizeIframe(height) {
    		var iframe = document.getElementById('mirror')
    		new_height = parseInt(height) + 60
    		iframe.height = new_height + 'px';
  		}
	</script>

	<!-- FORM -->
	<div class="row-fluid">
		<div class="span12">
			<div id="form-url">
				<form name="form-url" class="form-inline" action="" method="post" accept-charset="utf-8">
					<fieldset>
        			</fieldset>
        					
					<div class="input-prepend input-append">
						<span class="add-on"><label id="label-scheme" for="input-url">http://</label></span>
						<input id="input-url" name="url_entry" class="span8" type="text" size="50" maxlength="256" value="{{ input_url }}" placeholder="enter a url address..." />
						<input class="btn" type="submit" value="go →">
					</div>
					
					<label class="checkbox">
						<input id="enable-ssl" name="enable-ssl" type="checkbox" />
						<span>SSL Enabled</span>
					</label>
									
					<label class="checkbox">
						<input id="enable-link-menu" name="enable-link-menu" type="checkbox" />
						<span>Link Menu Enabled</span>
					</label>
				</form>
			</div>
		</div>
	</div>
	
	<!-- REFLECTION -->
	<div class="row-fluid">
		<div id="mirror-content">
			<iframe src="{{ mirror_url }}" id="mirror" width="100%" marginheight="0" scrolling="no" frameborder="0"></iframe>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		$(document).ready(function() {

			$("input#enable-ssl").click(function() {
				if ($(this).is(':checked')) {
					$("label#label-scheme").html("https://");
				} else {
					$("label#label-scheme").html("http://");
				}
			});

			// clear the textbox of the form
			$("input#input-url").focus(function() {
				if ($(this).val() == '') {
					$(this).attr('placeholder', '');
				}
			})

			// add the textbox's placeholder text
			$("input#input-url").blur(function() {
				$(this).attr('placeholder', 'enter a url address...');
			})
		});
	</script>
{% endblock %}