body {
	background-color: whiteSmoke;
}

div#form-url {
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: white;
	border: 1px solid #E5E5E5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div#form-url * input#url-entry {
	max-width: 60%;
}

/* for chrome only */
iframe {
	scrolling: 'no';
}

/* http://stackoverflow.com/questions/1691873/safari-chrome-webkit-cannot-hide-iframe-vertical-scrollbar */
iframe::-webkit-scrollbar {  
    display: none;
}